<%- include("partials/_header") -%>

<div class="top-header">
    <div class="s-top">
        <div class="s-top__container">
            <h1 class="h-primary s-top__title">Green Map Valencia</h1>
            <p class="s-top__desc">El juego más limpio de toda la ciudad!</p>
        </div>
    </div>
</div>

<div class="main">
    <div class="s-idea">
        <h2 class="h-sec s-idea__title">Mejorando la contaminación en Valencia, zona tras zona</h2>
        <p class="s-idea__desc">Nuestro mapa muestra las zonas que presentan más contaminación en Valencia,
            e incita a la gente a reciclar y mejorar su ciudad.
        </p>
    </div>
    <div class="s-map">
        <h2 class="h-sec s-map__title">Mapa de contaminación</h2>
        <div class="s-map__img-container">
            <img src="<%= imgurl %>" alt="" class="s-map__image">
        </div>
    </div>
    <div class="s-why">
        <div class="why-grid">
            ¿Por qué es una buena idea?
        </div>
    </div>
</div>

<%- include("partials/_footer") -%>