/**
 * Basic typography style for copy text
 */
body {
  font-family: $font;
}

h1 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  // text-transform: capitalize;
  font-variant: small-caps;
  margin: 0;
}

.h-primary {
  // font-family: $deco-font;
}