.event-container {
    background-color: $green-primary;
    display: inline-block;
    width: 40rem;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

    &__title {
        // @include centerAbs($_top: 20%);
        display: block;
        font-size: 3rem;
        text-align: center;
        padding: 10% 0;
        box-sizing: border-box;
        // background-image: linear-gradient(73deg, rgba($green-primary-light, 0.6), rgba($green-dark, 0.6)),
        //     url('../img/poli.jpg');
    }

    &__date {
        font-size: 2rem;
        text-align: center;
        padding: 1rem 0;
    }

    &__signup {
        padding-bottom: 3rem;
    }

    &:not(:last-child) {
        margin-right: 3rem;
    }
}

.s-events {
    margin-top: 6rem;
}